$pink-dark: #ba4270;
$white-link: #fbfcfe;
$blue-juan: #36536b;
$blue-mirage: #1b262f;
$pink-charm: #da6d97;
$blue-juan-light: #6c8294;

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
  }

  html{
    overflow: auto;
  }

body{
    font-family: 'Public Sans', sans-serif;
    background-color: #EDF3F8;
    margin: 0;
    overflow-x:hidden;
    position: relative;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'DM Serif Display', serif;
}

img{
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.button{
    font-size: .9rem;
    letter-spacing: -0.11px;
    line-height: 18px;
    font-weight: 700;
    color: $white-link;
    background-color: $pink-dark;
    border-radius: 24px;
    border: none;
    padding: 1rem 1.625rem;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);

    &:hover{
        cursor: pointer;
        background-color: $pink-charm;
    }
}

.contact-button{
    font-size: .9rem;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.11px;
    border-radius: 24px;
    padding: 1rem 2rem;
    background-color: transparent;
    border: 1px solid $white-link;
    color: $white-link;
}

.pattern{
    position: absolute;
}

//Pattern styling.
.header__circle {
    width: 780px;
    height: 780px;
    left: 50%;
    transform: translate(-50%, -60%);
    top: 0;
    opacity: 0.7;
    z-index: 1;
  }
